[Desktop Entry]
Encoding=UTF-8
Name=Link to How IoT is set to work for demand response use cases | Utility Post
Type=Link
URL=http://www.utilitypost.com/how-iot-is-set-to-work-for-demand-response-use-cases/
Icon=text-html
