[Desktop Entry]
Encoding=UTF-8
Name=Link to How Internet of Things Is Automating Demand Response Programs - Facilities Management Power & Communication Feature
Type=Link
URL=https://www.facilitiesnet.com/powercommunication/article/How-Internet-of-Things-Is-Automating-Demand-Response-Programs--Facilities-Management-Power-Communication-Feature--16207
Icon=text-html
