[Desktop Entry]
Encoding=UTF-8
Name=Link to The next frontier in connected energy: Syncing IoT, demand response | GreenBiz
Type=Link
URL=https://www.greenbiz.com/article/next-frontier-connected-energy-syncing-iot-demand-response
Icon=text-html
